<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Questionnaire Form by Tooplate</title>
	<!--
    Template 2105 Input
	http://www.tooplate.com/view/2105-input
	-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="survey" class="font-weight-light">
    <div class="container tm-container-max-800">
        <div class="row">
            <div class="col-12">
                <header class="mt-5 mb-5 text-center">
                    <h1 class="font-weight-light tm-form-title">Your Questionnaire Design</h1>
                    <p class="tm-form-description">Sed nunc leo, ullamcorper in facilisis feugiat, pulvinar sed est. Mauris varius sem erat, at faucibus
                        quam hendrerit eu. Quisque vel malesuada tortor.</p>
                </header>
                <form action="" method="post">
                    <div class="tm-bg-black tm-form-block">
                        <p class="mb-4">1. Q1</p>
                        <input type="text" name="basicemotionsq1">
                    </div>
                    <div class="tm-bg-black tm-form-block">
                        <p class="mb-4">2. Q2</p>
                        <div class="row">
                            <div class="col-xl-6 mb-4">
                                    <input type="text" name="basicemotionsq2">
                            </div>
                            
                        </div>

                    </div>
                    <div class="tm-bg-black tm-form-block">
                        <p class="mb-4">3. Q3</p>
                        <div class="row mb-4">
                            <div class="col-xl-6">
                                    <input type="text" name="valenceq1">
                                    <input type="text" name="valenceq2">
                            </div>
                           
                        </div>
                     
                    </div>
                    <div class="text-center mt-5">
                        <input type="submit" value="Submit" class="waves-effect btn-large">
                        <!---button type="submit" class="waves-effect btn-large">Submit</button> --> 
                    </div>
                </form>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12">
                <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                    Copyright &copy; 2018 Company Name
                    
                    - <a rel="nofollow" href="http://www.tooplate.com/view/2105-input">Input</a> by 
                    <a rel="nofollow" href="http://tooplate.com" class="tm-footer-link">Tooplate</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>